.dockerignore
.DS_Store
.git/
.github/
.gitignore
.sonarlint/
.vscode/
CHANGELOG.md
.claude/
CLAUDE.md
.coderabbit.yaml
CODE_OF_CONDUCT.md
commitlint.config.mjs
CONTRIBUTING.md
LICENSE

/target/
/tests/
